## (c) Polopoly AB (publ).
## This software is protected by copyright law and international copyright
## treaties as well as other intellectual property laws and treaties.
## All title and rights in and to this software and any copies thereof
## are the sole property of Polopoly AB (publ).
## Polopoly is a registered trademark of Polopoly AB (publ).

<link rel="stylesheet" type="text/css" href="#file({'contentId': $filesContentId, 'filename':'com.atex.plugins.twitter.MainElement.css', '':''})"/>

#set($height = $!{m.local.height})
#if(!$height)
    #set($height = "auto")
#end

#set($colwidth = $m.stack.colwidth)
#set($width = $!{m.local.width})
#if(!$width)
    #set($width = $colwidth)
#elseif($width == "auto")
    #set($width = $colwidth)
#end

#if($math.toInteger($width) > $math.toInteger($colwidth))
    #set($width = $colwidth)
#end
## padding 7px, so need deduct 7px to avoid overflow
#if($math.toInteger($width) - $math.toInteger($colwidth) < 7)
    #set($width = $math.sub($width, 7))
#end

#set($loop = $!{m.local.loop})
<a class="twitter-timeline twitter"
   data-widget-id="$!{content.widgetId.value}"
   data-link-color="$!{m.local.tweetLinkColor}"
   data-chrome="#if(!${m.local.scrollbar})noscrollbar #end"
   #if(${content.rpp.value})
     data-tweet-limit=${content.rpp.value}
   #end
   width="${width}"
   height="${height}"
        >$!{content.title.value}</a>
<script>!function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
    if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = p + "://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
    }
}(document, "script", "twitter-wjs");</script>