<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
                             http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <display-name>Polopoly Management</display-name>
  <description>This web application is used to monitor polopoly
  applications. In most cases other web applications.</description>

  <!-- polopoly mbean status servlet -->
  <servlet>
    <servlet-name>mbeanstatus</servlet-name>
    <servlet-class>com.polopoly.management.servlet.StatusServlet</servlet-class>
  </servlet>
    
  <servlet>
    <servlet-name>troubleshooter</servlet-name>
    <jsp-file>/troubleshooter.jsp</jsp-file>
  </servlet>
  
  <servlet>
    <servlet-name>dumper</servlet-name>
    <jsp-file>/dumper.jsp</jsp-file>
  </servlet>
  
  <servlet>
    <servlet-name>stuckthreads</servlet-name>
    <servlet-class>com.polopoly.management.troubleshooting.thread.StuckThreadsServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>misses</servlet-name>
    <servlet-class>com.polopoly.management.troubleshooting.cmclient.cache.MissRateServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>requestwatcherservlet</servlet-name>
    <servlet-class>com.polopoly.management.troubleshooting.requestwatcher.RequestWatcherServlet</servlet-class>
  </servlet>
  
  <!-- mappings -->
  <servlet-mapping>
    <servlet-name>mbeanstatus</servlet-name>
    <url-pattern>/status</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>troubleshooter</servlet-name>
    <url-pattern>/troubleshooter</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>dumper</servlet-name>
    <url-pattern>/dumper</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>stuckthreads</servlet-name>
    <url-pattern>/stuckthreads</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>misses</servlet-name>
    <url-pattern>/misses</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>requestwatcherservlet</servlet-name>
    <url-pattern>/requestwatcher</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>

