#if($isBlogPostEdit)
  #set($blogPostFormHeading = $rs.blog.updateBlogPostHeading)
  #set($blogPostFormSubmitText = $rs.blog.save)
  #set($action = "EDIT_BLOG_POST")
#elseif($isBlogPostCreate)
  #set($blogPostFormHeading = $rs.blog.createBlogPostHeading)
  #set($blogPostFormSubmitText = $rs.blog.create)
  #set($action = "CREATE_BLOG_POST")
#end

<h2>$!blogPostFormHeading</h2>
<form method="post" action="#link({"path":$m.request.originalContentPath, 'htmlEncodeLink': 'true', "":""})" id="createBlogPostForm">
  <input type="hidden" name="action" value="$action"/>
  <div id="createBlogFormContainer">	          
    <div class="field">
      <label for="blog_post_heading">$rs.blog.blogPostHeading <span class="required">*</span></label>
      <input size="42" type="text" name="blog_post_heading" id="blog_post_heading" value="$!blogPostEchoName" />
    </div>
    <div class="field">
      <label for="blog_post_text">$rs.blog.blogPostText</label>
      <textarea rows="24" cols="52" name="blog_post_text" id="blog_post_text">$!blogPostEchoText</textarea>
    </div>
    ## The following div is required because of a bug in 
    ## internet explorer which doesn't allow for a better way
    ## of setting blogPostId. See fck_image.js.
    <div id="inputReceiver" style="display: none;">
      <input type="hidden" name="blogPostId" id="blogPostId" value="$!blogPostId" />
    </div>
    <p class="disclaimer">$rs.blog.disclaimer</p>
    <div class="button-set">
      <input name="submitCreateBlogPost" class="submit" type="submit" value="$!blogPostFormSubmitText" id="submitCreateBlogPost"/>
      <input class="submit" type="button" value="$rs.blog.cancel" onclick="jQuery('#cancelBlogPostForm').submit();" />
    </div>	       
  </div>
</form>

<form method="post" action="#link({"path":$m.request.originalContentPath, 'htmlEncodeLink': 'true', "":""})" name="cancelBlogPostForm" id="cancelBlogPostForm">
  ## The following div exists for the same purpose as inputReceiver.
  <div id="deleteReceiver">
    <input type="hidden" name="blogPostId" id="blogPostIdCancel" value="$!blogPostId" />
  </div>
  <input type="hidden" name="action" value="CANCEL_BLOG_POST"/>
</form>

#set($lang = $m.context.site.bean.resources.locale.language)
#if(!$lang)
  #set($lang = "en")
#end

<!-- Some icons courtesy of http://famfamfam.com/lab/icons/silk/ -->
<script type="text/javascript" src="/js/fckeditor/fckeditor.js"></script>

<script type="text/javascript">
  jQuery().ready(function() {
    var oFCKeditor = new FCKeditor('blog_post_text');
    oFCKeditor.BasePath = "/js/fckeditor/";
    oFCKeditor.Height = "400";
    oFCKeditor.Config['DefaultLanguage'] = '$lang';
    oFCKeditor.Config['ImageUploadAllowedExtensions'] = ".(jpg|jpeg|png)$";
    oFCKeditor.Config['ImageUploadURL'] = '/blogimageupload';
    oFCKeditor.Config['ContentFileServlet'] = '/preview/blog/polopoly_fs';
    oFCKeditor.ReplaceTextarea();
  });
</script>

<script type="text/javascript">
  jQuery().ready(function() {
    /* "Error management" */
        
    var validation = {
      rules: {
        blog_post_heading: {
          required: true
        }
      },
      messages: {
        blog_post_heading: {
          required: "$rs.blog.error.blogPostNameEmpty"
        }
      },
      submitHandler: function(form) {
        jQuery("#submitCreateBlogPost").css("background-color", "#ccc");
        jQuery("#submitCreateBlogPost").attr("disabled", true);
        polopoly.util.injectCSRFToken(form);
        form.submit();
      }
    };
        
    var validator = jQuery("#createBlogPostForm").validate(validation);
    var cancelFunction = jQuery("#cancelBlogPostForm").submit(function() { 
        polopoly.util.injectCSRFToken(this)
     });
  });
</script>
