## Get resource strings
#set($rs = $m.context.site.bean.resources.strings)

## Get the id of the registration element and create link
#set($registrationElement = $m.context.site.top.content.membershipConfiguration.registrationElement.contentId)
#set($profileElement      = $m.context.site.top.content.membershipConfiguration.profileElement.contentId)
#set($registrationAllowed = $m.context.site.top.content.membershipConfiguration.allowRegistration.value)
#set($resetpasswordElement = $m.context.site.top.content.membershipConfiguration.resetPasswordElement.contentId)

## Set up environment properties
<script type="text/javascript">
  if (!p_l_i18n) {
  var p_l_i18n = {
    defaultLoginName : "$rs.login.defaultlogin",
    authError        : "$rs.login.autherror",
    permError        : "$rs.login.permerror",
    defaultError     : "$rs.login.defaulterror",
    downError        : "$rs.login.downerror",
    userError        : "$rs.login.usererror"
  }
  }
  toggleLoginForm = function() {
    jQuery('.loginForm').toggle('slow');
    return false;
  }
</script>

<div class="element login-element">

## Box to display to the unwashed masses
<div class="not-loggedin" style="display:none;">
    <b>$m.context.site.top.content.name $rs.login.memberlogin</b>
    <div>
    <a href="#" onclick="return toggleLoginForm();">$rs.login.login</a>
   #if($registrationAllowed == true && $registrationElement)
     &nbsp;|&nbsp;
     <a href="#link({"path": $m.context.site.top.contentPath.path, "contentId":$registrationElement, 'htmlEncodeLink': 'true', "":""})">$rs.login.register</a>
   #end
   </div>

    <form method="post" class="loginForm" action="/membership/login" style="display:none;" id="loginForm">
         <h3 class="form-error"></h3>
         <div class="fieldset clearfix">
           #if($m.local.content.loginTarget.contentId)
            <input type="hidden" name="login_targeturi" value="#link({"path": $m.context.site.contentPath.asArray, "contentId": $m.local.content.loginTarget.contentId, 'htmlEncodeLink': 'true', "":""})"/>
           #end
           <input type="hidden" name="login_site" value="$m.context.site.top.bean.contentId.contentId.contentIdString"/>
           <div class="field">
             <input type="text" name="login_loginname" class="clearable loginname" />
           </div>
           <div class="field">
             <input type="password" name="login_password" class="clearable password" />
           </div>
         </div>
         <div class="clearfix">
             <input type="submit" value="$rs.login.login" class="button submit loginButton" />
             <a class="forgotPasswordLink" href="#link({"path": $m.context.site.top.contentPath.path, "contentId":$resetpasswordElement, 'htmlEncodeLink': 'true', "":""})">$rs.login.recoverpassword</a>
           </div>
     </form>
</div>

## Box to display to logged in users
<div class="loggedin" style="display:none">
     <b>$rs.login.loggedinas</b>
     <span class="user-name"></span>
     <div class="clearfix">
        <a class="myProfileLink" href="#link({"path": $m.context.site.top.contentPath.path, "contentId":$profileElement, 'htmlEncodeLink': 'true', "":""})">$rs.login.profile</a>
        <form method="post" action="/membership/logout" id="logoutform">
          <div class="clearfix">
            <input type="submit" class="button submit logoutButton" value="$rs.login.logout" />
          </div>
        </form>
     </div>
  <script type="text/javascript">
    jQuery().ready(function() {
      var csrfAppender = {
        submitHandler: function(form) {
          polopoly.util.injectCSRFToken(form);
          form.submit();
        }
      };
      jQuery("#logoutform").validate(csrfAppender);
    });
  </script>
</div>
</div>