#set($rs = $m.context.site.bean.resources.strings)
#if($requestedArticleId)
    #render({"contentId": $requestedArticleId, "params":{"behindPaywall":"true"}, "":""})
#end
<div class="paywall element">
    <h1>$!rs.paywall.overlay.head</h1><span class="close_wall"><i class="icon-remove-sign"></i> $!rs.paywall.overlay.close</span>
    <div class="paywall_usersessionrequired" style="display:none;">
    #if($articleId)
      #if($paywallismetered)
        <p>$!rs.paywall.overlay.nomoreviews1<b>$!rs.paywall.overlay.nomoreviews2 $!meteredPeriod $!rs.paywall.overlay.nomoreviews3</b>$!rs.paywall.overlay.nomoreviews4</p>
      #end
      <p>
      <span class="paywallArticleTitle">$!requestedArticleTitle</span>
      $!rs.paywall.overlay.description
      </p>
    #end

    <ul class="productPackage">
    #foreach ($bundle in $validBundles)
        <li><b>$!bundle.name</b></li>
    #end
    </ul>

    <br />
    </div>
    <div class="paywall_usersessionacquired" style="display:none;">
        <p>
        <span class="paywallArticleTitle">$!requestedArticleTitle</span>
        $!rs.paywall.overlay.loggedin.description
        </p>
        <br />
        <form action="/html/paywall-payment-page.html">
          <input type="hidden" name="articleId" value="$articleId" />
          <input type="hidden" name="url" value="/paywall" />
          <select name="subscriptionId">
          #foreach ($subscription in $validSubscriptions)
            <option value="$subscription.contentId.contentId.contentIdString">$subscription.name</option>
          #end
          </select>
          <input type="submit" value="Select" />
        </form>
    </div>
</div>
<script type="text/javascript">
    jQuery().ready(function() {
        if (!polopoly.user.isLoggedIn()) {
        jQuery('.paywall_usersessionrequired').toggle();
        } else {
        jQuery('.paywall_usersessionacquired').toggle();
        }
        $('body').append('<div class="paywall_overlay"></div>');
        $('.close_wall').click(function() {
            $('.paywall.element').hide();
            $('.paywall_overlay').hide();
        });
    });
</script>
