#set($rs = $m.context.site.bean.resources.strings)

<div class="element membershipForm" style="display:none">
<div id="badBrowser">$rs.membership.badbrowser</div>

<div id="userRegistrationSuccess" class="success notification element big" style="display: none;">
    <h1>$rs.registration.successheader</h1>
    <p>$rs.registration.successbody</p>
</div>

<div id="userRegistration" class="userRegistration" style="display: none;">
<h1>$rs.registration.header</h1>
<div id="possibleError">
</div>

<p class="headerIntro">$rs.registration.introduction</p>

<form method="post" action="/membership/register" id="registerform">    
      <div class="field">
        <label class="required" for="reg_loginname">$rs.membership.loginname <span class="required">*</span></label>
        <input size="42" type="text" name="reg_loginname" id="reg_loginname"/>
      </div>
      <div class="field">
        <label class="required" for="reg_password">$rs.registration.password <span class="required">*</span></label>
        <input size="42" type="password" name="reg_password" id="reg_password" />
        <div class="password_strength_titel" title="$rs.registration.passwordstrength.tooltip">$rs.registration.passwordstrength.titel</div>
        <div id="password_strength" class="passwordStrength"></div>
      </div>
      <div class="field">
        <label class="required" for="reg_checkPassword">$rs.registration.checkpassword <span class="required">*</span> <span id="passwordMismatch"></span></label>
        <input size="42" type="password" name="reg_checkPassword" id="reg_checkPassword"/>
      </div>
      <div class="field">
        <label class="required" for="reg_screenname">$rs.registration.screenname <span class="required">*</span></label>
        <input size="42" type="text" name="reg_screenname" id="reg_screenname"/>
      </div>
      <div class="field">
        <label class="required" for="reg_captcha">$rs.captcha.wordverification <span class="required">*</span></label>
        <div>$rs.comments.typeincharacters</div>
        <img src="" id="reg_captchaimg" style="cursor: pointer; cursor: hand;" />
        <input size="42" type="text" name="reg_captcha" id="reg_captcha"/>
      </div>
    
    <div class="button-set">
      <input type="hidden" name="reg_site" value="$m.context.site.top.bean.contentId.contentId.contentIdString"/>
      <input class="button submit" type="submit" value="$rs.registration.create" id="submitRegister" />
    </div>
</form>
</div>
</div>

<script type="text/javascript">
    
if (!p_r_i18n) {
    var p_r_i18n = {
        er0 : "$rs.membership.errorRequired",
        er1 : "$rs.membership.errorEmail",
        er2 : "$rs.registration.errorLoginAlreadyExists",
        er3 : "$rs.membership.errorPasswordMin4",
        er4 : "$rs.membership.errorPasswordNotEqual",
        er5 : "$rs.registration.errorScreenname",
        er6 : "$rs.captcha.error"
    }
}

jQuery("#badBrowser").hide();

function renderCaptcha() {
     var captcha = jQuery('#reg_captchaimg');
     randNum = Math.ceil(Math.random()*10000000);
     captcha.attr("src", "/captcha?"+randNum);
}
if (!polopoly.user.isLoggedIn())
{
    jQuery().ready(function() {
    /* Success? */
    jQuery(".membershipForm").show();
    if (polopoly.util.querystringValue("reg_success")) {
        jQuery("#userRegistrationSuccess").show();
    } else {
        jQuery("#userRegistration").show();
        
        polopoly.passwordMeter.create("#reg_password", "#password_strength");
        
        /* "Error management" */
        if ("down" == polopoly.util.querystringValue("reg_formerror")) {
            jQuery("#possibleError").text("$rs.membership.serverdown");  
        }

        jQuery.validator.addMethod("screenname", function(value, element) {
            return this.optional(element) || /^[\w åäö\-]+$/i.test(value);
        }, "");
        
        var validation = {
        rules: {
            reg_loginname: {
                    required: true, 
                    email: true
                },
            reg_password: {
            required: true,
            minlength: 4
            },
            reg_checkPassword: {
            equalTo: "#reg_password"
            },
            reg_screenname: {
                    screenname: true,
                    required: true
            },
            reg_captcha: {
                    required: true
            }
        },
        messages: {
            reg_loginname: {
                    required: p_r_i18n.er0,
                    email: p_r_i18n.er1
            },
            reg_password: {
                    required: p_r_i18n.er0,
                    minlength: p_r_i18n.er3
            },
                    reg_checkPassword: {
                    equalTo: p_r_i18n.er4
            }, 
            reg_screenname: {
                    required: p_r_i18n.er0,
                    screenname: p_r_i18n.er5
            },
            reg_captcha: {
                    required: p_r_i18n.er0
            }         
        },
        submitHandler: function(form) {
                       jQuery("#submitRegister").css("background-color", "#ccc");
                       jQuery("#submitRegister").attr("disabled", true);
                       form.submit();
    }
        };
        
        // Clear out to dodge horrible firefox autoremember.
        jQuery("#registerform :text, #registerform :password").val("");

        var formContent = polopoly.user.popMessageCookie("formContent");
        if (formContent) {
        for (var field in formContent) {
            jQuery("#" + field).val(formContent[field]);
        }
        }
        
        var validator = jQuery("#registerform").validate(validation);

        formErrors = polopoly.user.popMessageCookie("formErrors");
        if (formErrors) {
        for (var field in formErrors) {
            formErrors[field] = p_r_i18n[formErrors[field]];
        }
        validator.showErrors(formErrors);
        }
        
        // Check password after password change.
        jQuery("#reg_password").blur(function() {
        jQuery("#reg_checkPassword").valid();
    });
        
    }

    polopoly.cookie.clear("formErrors");
    polopoly.cookie.clear("formContent");
    renderCaptcha();
    jQuery("#reg_captchaimg").click(renderCaptcha);
});
}
</script>
