## Fetch article, image and image path that were calculated in the controller
## Do not render if "broken" article ref.

#macro( styleMacro $map )
  #set($macroStyle = "style='")
  #foreach($entry in $map.entrySet())
    #if($entry.value)
      #set($macroStyle = "$macroStyle ${entry.key}:${entry.value};")
    #end
  #end
  #set($macroStyle = "$macroStyle'")
  $macroStyle
#end

#macro( imageSlot $position )
  #if($derivative)
    #if($m.local.imagePosition == $position)
      <div class="teaser-image-$position">
        #if($link)
          <a href="$link">
        #end
        #imageresource({"contentId": $m.local.content.contentId,
                      "derivative": $derivative,
                      "":""})
        #if($link)
          </a>
        #end
      </div>
    #end
  #end
#end

#if(!$hasArticleReference || $article)
  #set($displayTools = $m.request.preview.inPreviewMode && $m.request.preview.inInteractivePreviewMode)
  #if ($displayTools)
    <script type="text/javascript">jq.require("/_preview/interactive/teaser.js")</script>
  #end

  #set($derivative = $m.local.imageDerivativeKey)
  #set ($title = $content.name)
    
  ## Get resource strings
  #set($rs = $m.context.site.bean.resources.strings)
  
  ## Get teaser text from element or article
  #set ($teaser = $content.teaser.value)
  #if(!$teaser && $article)
    #set($teaser = $article.lead.value)
  #end
  
  #if($content.titleFontSize.value)
    #set($fontSize = "${content.titleFontSize.value}px")
  #end
  #if($content.titleLetterSpacing.value)
    #set($letterSpacing = "${content.titleLetterSpacing.value}px")
  #end
  #set($headerStyles = { "font-size":$fontSize, "letter-spacing":$letterSpacing })
  #if($content.teaserFontSize.value)
    #set($teaserStyles = { "font-size":"${content.teaserFontSize.value}px" })
  #end

  ## Render teaser
  #if($m.request.preview.inPreviewMode)
    #set($editableClass = "editable")
  #end
  #if($content.style.value == 'Highlighted')
    #set($highlightedClass = "highlighted")
  #end  
  <div class="element teaser $!editableClass $!highlightedClass">
    #if($m.request.preview.inPreviewMode && $article)
      #set ($contentIdString = ${article.contentId.contentId.contentIdString})
      #set($statisticsId = "statisticsChart${m.local.controllerContext.renderId}")
      <div class="statisticsChart" id="$statisticsId" polopoly:elementWidth="${m.stack.getAttribute("colwidth")}" polopoly:contentId="${contentIdString}"></div>
    #end
    

    ## Extra fields for preview
    #if($m.request.preview.inInteractivePreviewMode)
      <div class="extraFields">
        #set($guiResources = $m.request.preview.guiResourceBundle)
        <h2>$guiResources.getString("cm.label.Style"):</h2>
        #set($breakingNewsChecked = "")
        #set($highlightedChecked = "")
        #set($defaultChecked = "")
        #if ($content.style.value == "BreakingNews")
          #set($breakingNewsChecked = "checked='checked'")
        #end
        #if ($content.style.value == "Default")
          #set($defaultChecked = "checked='checked'")
        #end
        #if ($content.style.value == "Highlighted")
          #set($highlightedChecked = "checked='checked'")
        #end

        #set($inputName = $math.random(0, 32000))
        <input type="radio" name="style-$inputName" class="style" $defaultChecked value="Default"/><span>$guiResources.getString("cm.label.Default")</span><br />
        <input type="radio" name="style-$inputName" class="style" $breakingNewsChecked value="BreakingNews"/><span>$guiResources.getString("cm.template.example.TeaserElement.Style.BreakingNews")</span><br />
        <input type="radio" name="style-$inputName" class="style" $highlightedChecked value="Highlighted"/><span>$guiResources.getString("cm.template.example.TeaserElement.Style.Highlighted")</span>
      </div>
    #end

    #set($includeBreakingNews = $content.style.value && $content.style.value == 'BreakingNews' || $m.request.preview.inInteractivePreviewMode)
    #set($breakingNewsStyles = "")
    #if (!($content.style.value == "BreakingNews"))
      #set($breakingNewsStyles = { "display":"none" })
    #end
    #if($includeBreakingNews)
      <div class="breakingNewsHeader" #styleMacro($breakingNewsStyles)>$rs.breakingnews.title</div>
    #end
      
    ## Create link to article
    #if($article)
      #if($m.stack.linkContext)
        #set($link = "#link({'contentId': $article.contentId, 'path': $m.stack.linkContext, 'htmlEncodeLink': 'true', '':''})")
      #else
        #set($path = $article.parentIds)
        ## If parent ids of article is invalid, use path to current page
        #if(!$tool_path.isValidPath($path))
          #set($path = $tool_path.concat($m.context.page.contentPath, $article.contentId))
        #end
  
        #set($link = "#link({'path': $path, 'htmlEncodeLink': 'true', '':''})")
      #end
      #if($article.premiumContent)
        #set($isPremiumContent = true)
      #end
    #end
    
    ## Render image
    #imageSlot("top")

    <div #styleMacro($headerStyles)>
    #if($fontSize)
        #set($headerStyle = "style='font-size:inherit'")
    #end
    #if($title)
      #if($link)
        <h1 $!headerStyle><a href="$link">$!esc.html($title)</a></h1>
      #else
        <h1 $!headerStyle>$!esc.html($title)</h1>
      #end
    #else
    <h1></h1>
    #end
    </div>

    <div>
      ## Render image
      #imageSlot("inline")

      #if($teaser)
        <div #styleMacro($teaserStyles)>
          <p>
          #if($isPremiumContent)
            <span class="premium-label"><i class="icon-lock"></i> <span>$rs.paywall.premium.content</span></span>
          #end
            $!esc.html($teaser)
          </p>
        </div>
      #else
        <div><p></p></div>
      #end
      
      ## Render image
      #imageSlot("bottom")

    </div>
      
    #if($includeBreakingNews)
      <div class="breakingNewsFooter" #styleMacro($breakingNewsStyles)></div>
    #end
  </div>
#end
