#set($rs = $m.context.site.bean.resources.strings)
#if(!$beTheFirstToCommentText)
    #set($beTheFirstToCommentText=$rs.comments.bethefirsttocomment)
#end

#if($m.local.content.online)
    #if($m.stack.hasCommentError)
        <ul>
          #foreach ($errorKey in $m.stack.error)
            <li><font color="red">$rs.blog.error.get($errorKey)</font></li>
          #end
        </ul>
    #end

<div id="comment">
<h3>$rs.comments.comments</h3>
#if($m.local.content.openForComments)
  <form action="#comment" method="post">
    <input name="commentsId" value="$content.contentId.contentId.contentIdString" type="hidden">
    <input type="hidden" name="action" value="CREATE_COMMENT"/>
    <label class="label" for="comment_text">$rs.comments.writecomment</label><br />
    <textarea name="comment_text" id="comment_text" rows="5" cols="40" class="inputfield">$!m.stack.commentEchoText</textarea>
    <br />
    <label for="comment_author">$rs.comments.yourname</label><br />
    <input name="comment_author" value="$!m.stack.commentEchoAuthor" type="text"/>
    <br />
    <input id="submitCommentBlogPost" value="$rs.comments.comment" type="submit">
  </form>
#end
  #if ($comments && $comments.size() != 0)
    <div>
    #foreach($comment in $comments)
      <div>
        <p>$comment.text</p>
        <em>$rs.comments.writtenby $comment.author, $date.format("d MMMM yyyy HH:mm", $comment.publishingDateTime, $m.context.site.bean.resources.locale)</em>
      </div>
      <hr />
    #end
    </div>
    #if($commentsIndex > 0 || $commentsNextIndex)
      <ul>
        #if($commentsIndex > 0)
          #set($commentsPrevIndex = $math.max($math.sub($commentsIndex, $commentsLimit), 0) + "")
          <li><a href="#link({"path": $m.request.originalContentPath, 'htmlEncodeLink': 'true', "params":{"comments":"$commentsPrevIndex"}, "":""})">$rs.blog.newerComments</a></li>
        #end
        #if($commentsNextIndex)
          <li><a href="#link({"path": $m.request.originalContentPath, 'htmlEncodeLink': 'true', "params":{"comments":"$commentsNextIndex"}, "":""})">$rs.blog.olderComments</a></li>
        #end
      </ul>
    #end       
  #else
    #if($m.local.content.openForComments)
      <p>$beTheFirstToCommentText</p>   
    #end
  #end
</div>
#end