<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN"
 "http://www.w3.org/TR/xhtml-basic/xhtml-basic11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>    
    <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/"/>

    ## Set html title to site name + page name (if not equal, like is the case at the top level)
    ## with fallback when the page is rendered without a site (ie $m.context.site.bean is null).
    #if ($m.context.site.bean)
      #set($htmlTitle = $m.context.site.bean.name)
      #if($htmlTitle != $m.context.page.bean.name)
        #set($htmlTitle = $m.context.page.bean.name + " - " + $htmlTitle)
      #end
    #else
      #set($htmlTitle = $m.context.page.bean.name)
    #end
    
    #if ($m.context.page.content.disallowIndexing)
      <meta name="robots" content="noindex"/>
      <meta name="robots" content="ACAP disallow-index"/>
    #else
      <meta name="robots" content="index"/>
      <meta name="robots" content="ACAP allow-index"/>   
    #end

    #if($m.local.title)
        <meta name="title" content="$m.local.title"/>
        <meta name="DC.title" content="$m.local.title"/>
    #end
      
    #if($m.local.author)
        <meta name="author" content="$m.local.author"/>
        <meta name="DC.creator" content="$m.local.author"/>
    #end

    #if($m.local.keywords)
      <meta name="keywords" content="$m.local.keywords"/>
      <meta name="DC.subject" content="$m.local.keywords"/>
    #end    
		
    #if ($m.context.page.content.disallowIndexing)
      <meta name="robots" content="noindex"/>
      <meta name="robots" content="ACAP disallow-index"/>
    #else
      <meta name="robots" content="index"/>
      <meta name="robots" content="ACAP allow-index"/>   
    #end

    #if($m.local.title)
        <meta name="title" content="$m.local.title"/>
        <meta name="DC.title" content="$m.local.title"/>
    #end
      
    #if($m.local.author)
        <meta name="author" content="$m.local.author"/>
        <meta name="DC.creator" content="$m.local.author"/>
    #end

    #if($m.local.keywords)
      <meta name="keywords" content="$m.local.keywords"/>
      <meta name="DC.subject" content="$m.local.keywords"/>
    #end    
    
    #if($m.local.locations)
      <meta name="DC.coverage.spatial" content="$m.local.locations"/>
    #end    
	
    <title>$htmlTitle</title>
    <style type="text/css">
        body {
            background: white;            
            color: #333;
        }
        h1 {
            font-size: 1.4em;
            line-height: 1.2;
            margin: 0 0 7px 0;
        }
        .borderLayoutMastHead {
            margin-bottom: 1em;
        }        
        .menuTop {
            padding: 0.2em;
            background-image: url("/img/greenfield/pattern_green.gif");
            background-color: #8EA824;
        }
        .menuTop a {
            color: white;
        }
        .menuTop span {
            margin-right: 0.5em;
        }
        .menuTop .current {
            text-decoration: none;
            font-weight:bold;
        }
        
        .navpath .separator,
        .navpath a {
            color: grey;
        }
        A.fileResourceLink,
        A.fileResourceLink:hover {
            background-repeat: no-repeat;
            background-position: left center;
            padding-left: 22px;
        }
    </style>    
  </head>
  <body>
    #set($m.stack.colwidth = "200")
    <div class="borderLayout">    
            
      <div class="borderLayoutMastHead">
        #render({"content": $content.mobileheader, "":""})
      </div>
      
      <div class="borderLayoutColumn tickerColumn" id="col2">                
        #if ($m.context.page.pathAfterPage.size() < 1)          
          #render({"content": $content.wide, "":""})
        #end
      </div>
      
      <div class="borderLayoutColumn mainColumn" id="col3">
      
      ## Render article (or other type of content after most specific page, 
      ## like e.g. an element) if present in path
            
      #set ($showArticle = $m.context.page.pathAfterPage.size() > 0)      
      #if ($showArticle)
         #render({"content": $m.context.page.pathAfterPage.get(0), "params":{"view":"article"}, "":""})      
      #else        
         #render({"content": $content.main, "":""})
      #end
      </div>
      
      #if (!$showArticle)
         <div class="borderLayoutColumn bannerColumn" id="col4">
           #render({"content": $content.right, "":""})
         </div>
      #end
     </div>
  </body>
</html>
